.job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.job-box {
    width: 30em;
    text-align: center;
    background: #fcfcfc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3em;
    transition: transform 0.3s ease;
    margin-top: 2em;
    margin-bottom: 2em;
}

.job-box:hover {
    transform: translateY(-5px);
}


.job-box h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.job-box .title {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.job-box .description {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}


.apply-button {
    display: inline-block;
    background-color: #007bff; /* Blue color */
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.apply-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    cursor: pointer;
}
